#cart {
  width: 500px;
}

#checkout-body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding: 100px 15% 0px 15%;
}

.header {
  margin-bottom: 25px;
}

.empty-cart {
  font-size: 20px;
}

#finished-checkout-body {
  display: flex;
  flex-flow: column;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

#order-info {
  display: flex;
  flex-flow: row;
}

#thanks {
  display: flex;
  flex-flow: column;
  text-align: center;
}

hr {
  border-top: 0.5px lightgray;
}
